<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example">
	<select id="selectCustomer" parameterType="com.example.dto.Customer" resultMap="customerResultMap">
		SELECT
			customer_id,
			store_id,
			first_name,
			last_name,
			email,
			active,
			create_date,
			customer.last_update AS customer_last_update,
			address.address_id,
			address,
			address2,
			district,
			address.last_update AS address_last_update
		FROM customer
		LEFT JOIN address ON customer.address_id = address.address_id
		<where>
			<if test="customerId != null">
				AND customer_id = #{customerId}
			</if>
	    </where>
	</select>

	<resultMap id="customerResultMap"
		type="com.example.dto.Customer">
		<id property="customerId" column="customer_id" />
		<result property="storeId" column="store_id" />
		<result property="firstName" column="first_name" />
		<result property="lastName" column="last_name" />
		<result property="email" column="email" />
		<result property="active" column="active" />
		<result property="createDate" column="create_date" />
		<result property="lastUpdate" column="customer_last_update" />
		<association property="address"
			javaType="com.example.dto.Address">
			<id property="addressId" column="address_id" />
			<result property="address" column="address" />
			<result property="address2" column="address2" />
			<result property="district" column="district" />
			<result property="lastUpdate" column="address_last_update" />
		</association>
	</resultMap>
	
	<insert id="insertCustomer" parameterType="com.example.dto.Customer" keyProperty="customerId"
		useGeneratedKeys="true">
		INSERT INTO customer
			(store_id, first_name, last_name, email, address_id, active, create_date, last_update)
		VALUES
			(#{storeId}, #{firstName}, #{lastName}, #{email}, #{address.addressId}, #{active}, #{createDate}, #{lastUpdate})
	</insert>

	<update id="updateCustomer" parameterType="com.example.dto.Customer" keyProperty="customerId">
		UPDATE customer
		<set>
			<if test="storeId != null">store_id = #{storeId},</if>
			<if test="firstName != null">first_name = #{firstName},</if>
			<if test="lastName != null">last_name = #{lastName},</if>
			<if test="email != null">email = #{email},</if>
			<if test="address != null &amp;&amp; address.addressId != null">address_id = #{address.addressId},</if>
			<if test="active != null">active = #{active},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="lastUpdate != null">last_update = #{lastUpdate},</if>
		</set>
		<where>
			customer_id = #{customerId}
		</where>
		LIMIT 1
	</update>

	<delete id="deleteCustomer" parameterType="com.example.dto.Customer">
		DELETE FROM customer WHERE customer_id = #{customerId} LIMIT 1
	</delete>
</mapper>
