<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="JDBC_DRIVER" value="com.mysql.cj.jdbc.Driver"/>
    <property name="JDBC_URL" value="jdbc:mysql://root:password@localhost/sakila?useSSL=false"/>
  </properties>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <environments default="dev">
    <environment id="dev">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${JDBC_DRIVER}"/>
        <property name="url" value="${JDBC_URL}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="customer-mapper.xml"/>
    <mapper resource="film-mapper.xml"/>
  </mappers>
</configuration>