<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sqlmapper.MailMapper">
	
	<select id="selectMail" resultType="com.example.dto.Mail">
		SELECT * FROM mail WHERE mail_id = #{mailId}
	</select>

	<insert id="insertMail" parameterType="com.example.dto.Mail" useGeneratedKeys="true" keyProperty="mailId">
		INSERT INTO mail
			(`from`, `to`, cc, subject, body, is_succeeded)
		VALUES
			(#{from}, #{to}, #{cc}, #{subject}, #{body}, #{isSucceeded})
	</insert>

	<update id="updateMail" parameterType="com.example.dto.Mail">
		UPDATE mail
		<set>
			<if test="isSucceeded != null">is_succeeded = #{isSucceeded},</if>
		</set>
		<where>
			mail_id = #{mailId}
		</where>
		LIMIT 1
	</update>

	<insert id="insertAttachments" parameterType="com.example.dto.Mail$AttachmentInMail" useGeneratedKeys="true" keyProperty="mailId,index">
		INSERT INTO mail_attachment
			(`mail_id`, `index`, filename, size, content)
		VALUES
		<foreach item="item" collection="list">
			(#{item.mailId}, #{item.index}, #{item.filename}, #{item.size}, #{item.content})
		</foreach>
	</insert>

	<select id="selectAttachment" resultType="com.example.dto.Mail$AttachmentInMail">
		SELECT * FROM mail_attachment WHERE mail_id = #{mailId} AND `index` = #{index}
	</select>
</mapper>
